.content1{
    background-color: red;
    height: 100px;
}
.content2{
    background-color: blue;
    height: 100px;
}
.content3{
    background-color: gold;
    height: 100px;
}
.content4{
    background-color: pink;
    height: 100px;
}